---
import ProjektTech from './ProjektTech.astro';

interface Props {
	client: string;
	handover: string;
	services: string[];
	website: string;
}

const { client, handover, services, website } = Astro.props;
---

<div class="mt-8 grid-cols-12 gap-16 border-t-2 md:grid">
	<div class="col-span-3">
		<h3 class="mb-0 text-2xl font-black">Kunde:</h3>
		<p class="font-heading text-lg font-bold text-accent">{client}</p>
	</div>
	<div class="col-span-3">
		<h3 class="mb-0 text-2xl font-black">Fertiggestellt:</h3>
		<p class="font-heading text-lg font-bold text-accent">{handover}</p>
	</div>
	<div class="col-span-3">
		<h3 class="mb-0 text-2xl font-black">Technologien:</h3>
		<ProjektTech services={services} />
	</div>
	<div class="col-span-3">
		<h3 class="mb-0 text-2xl font-black">Webseite:</h3>
		<p>
			<a
				class="font-heading text-lg font-bold text-accent no-underline"
				href={website}
				target="_blank"
				rel="nofollow">{website}</a
			>
		</p>
	</div>
</div>
