---
import type { CollectionEntry } from 'astro:content';
import ProjektTech from '@components/Project/ProjektTech.astro';
import { Icon } from 'astro-icon/components';
import Card from '@components/Ui/Card.astro';

interface Props {
	project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
---

<Card
	title={project.data.title}
	image={project.data.thumbnail}
	image_alt={project.data.image_alt}
	href={`/projekte/${project.slug}`}
>
	<ProjektTech tags={project.data.tags} />

	<p>{project.data.description}</p>
	<div class="relative justify-end pt-4 card-actions">
		Projekt Details
		<Icon name="mdi:arrow-top-right" class="-top-1 relative w-5 h-5" />
	</div>
</Card>
