---
import { twMerge } from 'tailwind-merge';
import { getImage } from 'astro:assets';

interface Props {
	imageUrl: ImageMetadata;
	height?: string;
	alt: string;
	scrollSensitivity?: number;
	className?: string;
}

const { imageUrl, height = '600px', alt, scrollSensitivity = 1.0, className } = Astro.props;
const optimizedBackground = await getImage({
	src: imageUrl,
	loading: 'eager',
	format: 'webp'
});
---

<div
	class:list={twMerge(
		'group relative w-full h-[400px] lg:h-[var(--scrollable-background-height)] overflow-hidden touch-none cursor-none scrollable-background-container',
		className
	)}
	style={`--scrollable-background-height: ${height};`}
	role="img"
	aria-label={alt}
	data-scrollable
	data-scroll-sensitivity={scrollSensitivity}
>
	<!-- Custom Cursor - Always visible when mouse is over container -->
	<div
		class="hidden md:block z-50 absolute md:group-hover:opacity-100 md:opacity-0 -translate-x-1/2 -translate-y-1/2 pointer-events-none custom-cursor"
		data-custom-cursor
		style="left: -100px; top: -100px;"
	>
		<div
			class="flex justify-center items-center shadow-lg btn btn-circle btn-primary"
			data-cursor-circle
		>
			<svg
				class="w-5 h-5 -rotate-180"
				width="52"
				height="61"
				viewBox="0 0 52 61"
				fill="none"
				data-arrow-up
			>
				<path
					d="M23.5251 59.4749C24.892 60.8417 27.108 60.8417 28.4749 59.4749L50.7487 37.201C52.1156 35.8342 52.1156 33.6181 50.7487 32.2513C49.3819 30.8844 47.1658 30.8844 45.799 32.2513L26 52.0503L6.20101 32.2513C4.83418 30.8844 2.6181 30.8844 1.25126 32.2513C-0.115571 33.6181 -0.115571 35.8342 1.25126 37.201L23.5251 59.4749ZM22.5 1.5299e-07L22.5 57L29.5 57L29.5 -1.5299e-07L22.5 1.5299e-07Z"
					fill="currentColor"
				>
				</path>
			</svg>

			<svg class="w-2 h-2" viewBox="0 0 24 24" fill="none" data-cursor-arrow>
				<circle cx="12" cy="12" r="12" fill="currentColor"></circle>
			</svg>

			<svg
				class="w-5 h-5 rotate-0"
				width="52"
				height="61"
				viewBox="0 0 52 61"
				fill="none"
				data-arrow-down
			>
				<path
					d="M23.5251 59.4749C24.892 60.8417 27.108 60.8417 28.4749 59.4749L50.7487 37.201C52.1156 35.8342 52.1156 33.6181 50.7487 32.2513C49.3819 30.8844 47.1658 30.8844 45.799 32.2513L26 52.0503L6.20101 32.2513C4.83418 30.8844 2.6181 30.8844 1.25126 32.2513C-0.115571 33.6181 -0.115571 35.8342 1.25126 37.201L23.5251 59.4749ZM22.5 1.5299e-07L22.5 57L29.5 57L29.5 -1.5299e-07L22.5 1.5299e-07Z"
					fill="currentColor"></path>
			</svg>
		</div>
	</div>

	<div
		class="absolute bg-[length:100%_auto] bg-center w-full transition-transform duration-300 ease-out scrollable-background"
		style={`background-image: url(${optimizedBackground.src});`}
		data-image-height={optimizedBackground.attributes.height}
		data-image-width={optimizedBackground.attributes.width}
		data-scrollable-element
	>
	</div>
</div>
