---
import { Image } from 'astro:assets';
import { twMerge } from 'tailwind-merge';

const { title, className, image, image_alt, href } = Astro.props;
---

{
	href ? (
		<a
			href={href}
			class={twMerge(
				'bg-base-100/75 shadow-xl hover:shadow-2xl backdrop-blur border-2 border-white/5 transition-all hover:-translate-y-2 duration-300 will-change-transform card',
				className
			)}
		>
			{image && (
				<figure class="h-[220px]">
					<Image
						src={image}
						width={350}
						height={350 / 1.5}
						class="w-full h-full object-cover card-image"
						alt={image_alt}
					/>
				</figure>
			)}
			<div class="card-body">
				{title !== undefined ? <h2 class="card-title">{title}</h2> : null}
				<slot />
			</div>
		</a>
	) : (
		<div
			class={twMerge(
				'bg-base-100/75 shadow-xl hover:shadow-2xl backdrop-blur border-2 border-white/5 transition-all hover:-translate-y-2 duration-300 will-change-transform card',
				className
			)}
		>
			{image && (
				<figure class="h-[220px]">
					<Image
						src={image}
						width={350}
						height={350 / 1.5}
						class="w-full h-full object-cover card-image"
						alt={image_alt}
					/>
				</figure>
			)}
			<div class="card-body">
				{title !== undefined ? <h2 class="card-title">{title}</h2> : null}
				<slot />
			</div>
		</div>
	)
}
