---
import { Icon } from 'astro-icon/components';

interface Props {
	icon: string;
	title: string;
	text: string;
	isMail?: boolean;
	isPhone?: boolean;
}

const { icon, title, text, isMail = false, isPhone = false } = Astro.props;

// split text at @ to get the username and domain
const [username, domain] = text.split('@');
---

<li class="group mb-8">
	<div class="flex items-center">
		<div
			class="font-heading relative flex aspect-1 h-[3.9375rem] w-[3.9375rem] items-center justify-center rounded-full border-2 border-white/5 bg-base-100/60 text-center text-[34px] shadow-xl transition-shadow duration-300 after:absolute after:left-full after:top-1/2 after:mt-[-1px] after:h-[2px] after:w-10 after:bg-white/5 group-hover:shadow-none"
		>
			<Icon class="h-6 w-6" name={icon} />
		</div>

		<div class="pl-16">
			<h4 class="text-2xl font-semibold">{title}</h4>

			<p class="text-sm text-gray-500">
				{isMail && <p data-obfuscate-email data-username={username} data-domain={domain} />}

				{
					isPhone && (
						<p>
							<a href={`tel:+49${text.replace(/^0+|-/g, '')}`}>{text}</a>
						</p>
					)
				}

				{!isMail && !isPhone && <p>{text}</p>}
			</p>
		</div>
	</div>
</li>
